.headertext2 {
  overflow: hidden;
}

.headertext2,
.headertext2 * {
  box-sizing: border-box;
}

.headertext2 {
  position: relative;
  width: 486px;
  height: 700px;
  margin: 0 auto;
  font-size: 0px;
}
.textH {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 350px;
  height: 112px;
  margin: 0 0 0 5px;
  color: black;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  z-index: 3;
}
.dividerH {
  position: relative;
  width: 56px;
  height: 2px;
  margin: 26px 0 0 5px;
  background: black;
  z-index: 5;
  border-radius: 10px;
}
.textS {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 30vw;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5px;
  color: var(--subtextColor);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  z-index: 4;
}

.HTbutton {
  position: relative; 
  margin-right: 58%;
  margin-top: 50px;
}
