.main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  .main-container {
    position: relative;
    width: 183px;
    height: 41px;
    margin: 0 auto;
  }
  .logo {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 0;
    left: 0;
    background: url(../assets/images/CircleLogo.svg)
      no-repeat center;
    background-size: cover;
    z-index: 1;
    border-radius: 50%;
  }
  .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 78.05%;
    top: 12.2%;
    left: 7.1%;
    color: white;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.469px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
  }
  .text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 73.17%;
    top: 14.63%;
    left: 28.96%;
    color: var(--logoTextcolor);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.125px;
    text-align: left;
    white-space: nowrap;
  }
  