:root {
  --subtextColor: #7c7987;
  --buttonBlueBG: #458ff6;
  --shadow: 0 100px 100px 0 rgba(228, 233, 245, 0.4);
  --buttonArticle: #3f88ed;
  --Tcolor: #5b9bf3;
  --logoTextcolor: #233248;
  --buttonhoverW: #efefef;
  --buttonhoverB: #6ca9ff;
}

body {
  margin: 0px;
  font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft Yahei UI', 'Microsoft Yahei',
    'Source Han Sans CN', sans-serif;
}
