.service {
    overflow: hidden;
  }
  
  .service,
  .service * {
    box-sizing: border-box;
  }
  
  .service {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 100px 100px 0 rgba(228, 233, 245, 0.275);
  }
  .pic {
    position: relative;
    margin: 54px 0 0 39px;
    border-radius: 0;
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-position: left center;
  }
  .serviceH {
    display: block;
    position: relative;
    height: 56px;
    margin: 23px 0 0 39px;
    font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
  }
  .serviceS {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 266px;
    height: 84px;
    margin: 1px 0 0 39px;
    font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #7c7987;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    z-index: 2;
  }
  